#navbarSections{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#logo{
    width: 50%;
    padding: 2%;
}

.logoText{
    margin: 0px;
    padding-left: 5%;
    
}

#logoLine1{
    color: #A3D5D3;
    font-weight: 1;
}

#logoLine2{
    font-weight: 400;
}

#links{
    width: 50%;
    
}

#linkList{
    display: flex;
    list-style: none;
    
}

.navElem{
    margin: 2.5%;
}

.navLink{
    color: black;
    text-decoration: none;
}

#dropdown1{
    display: none;
    position: absolute;
    flex-direction: column;

    background-color: #A3D5D3;
    width: 100px
}

#dropdown1 a{
    padding: 5px;
    color: white;
}

#dropdownLink1:hover #dropdown1{
    display: flex;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}


/* Image-Title Banner CSS and CODE and Generalised body code */
body{
    margin: 0;
    width: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero{
    height: 70vh;
    /*background-image: url("../images/background/needHelp.jpg"); CHANGE IMAGE IN PAGE CSS FOR DIFFERENT IMAGE*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    
}
.hero h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 150px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
}