.hero{
    background-image: url("../images/background/needHelp.jpg");
}
.helpCardSec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 4;
    gap: 300px;
    justify-content: space-around;
}
.helpCard{
    background-color: #A3D5D3; 
    height: 300px; 
    width: 300px; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

main a{
    text-decoration: none;
    color: inherit;
}


