#popupFullscreen{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 100;
}

#popupDiv{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width:70%;
    height: auto;
    margin: auto;
    background-color: red;
    display: none;
    top: 10%;
    z-index: 101;
}



#fixes{
    display: grid; 
    justify-self: center;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 25px 25px; 
    grid-template-areas: 
        ". ."
        ". ."; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-items:center;
    margin: auto;
    width: 50%;
    height: auto;
}

.quickFix{
    border-radius: 5px;
    padding: 15px;
    border-style: solid;
    border-color: #A3D5D3;
    background-color: #cde2e1;
    height: 300px;
    width: 75%;
    transition: transform .2s;
}

.quickFixAnchor{
    position: absolute;
    height:inherit;
    width: 18.75%;
    text-decoration: none;
}

.quickFix:hover{
    scale: (1.01);
    cursor: pointer;
}



.fixTitle{
    margin: 0px;
    font-size: calc(0.75vw + 0.75vh);
}

.fixDescription{
    font-weight: 100;
    font-size: calc(0.75vw + 0.75vh);
}

#breathe{
    grid-column: 1;
    grid-row: 1;
}

#hydrate{
    grid-column: 2;
    grid-row: 1;
}

#move{
    grid-column: 1;
    grid-row: 2;
}


#rest{
    grid-column: 2;
    grid-row: 2;
}