.hero{
    background-image: url("../images/background/needHelp.jpg");
}

.contentContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.left{
    width: 70%;
}

.right{
    width: 30%;
}

.right img{
    width: 100%;
    height: 100%;
}

.linkContainer{
    display: flex;
    flex-direction: column;
    width:25%;
    margin-left: 5%;
}